@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

*, *::before, *::after{
  font-weight: normal;
  box-sizing: border-box;
  font-family: var(--text-primary);
}

:root {
  --text-primary: 'Space Mono', monospace;
  --color-black: #272324;
  --color-cream: #E4D8B4;
  --color-green: #83B799;
  --color-red: #E86F68;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  overflow: hidden;
  background: #F5F5F7;
}

/* ------ main ------ */
main {
  display: grid;
  place-items: center;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  height: 100%;
  margin-top: 2rem;
  width: max-content;
  background: #fff;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border: 1px solid var(--color-black);
  border-radius: 16px;
}

.span-2 {
  grid-column: span 2;
}

.calculator-grid > button {
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn {
  background: var(--color-cream);
  border: 1px solid var(--color-black);
  border-radius: 8px;
  opacity: 0.6;
  transition: 200ms ease;
}

.btn:hover {
  opacity: 0.75;
}

.calculator-grid .clear-btn {
  background: var(--color-green);
}

.calculator-grid .del-btn {
  background: var(--color-red);
}

.screen {
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid var(--color-black);
  border-radius: 8px;
  /* background: ; */
}

.previous-operand {
  font-size: 20px;
}

.current-operand {
  font-size: 40px;
  opacity: 0.8;
}

/* ------ footer ------ */

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
}
